@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-slate-900 transition-colors duration-300;
  }
}